.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.Mains {
  width: 100%;
  height: 100%;
  position: relative;
}
.appear {
  position: relative;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.unappear {
  transform: translateY(-150%);
  transition: transform 0.5s ease-in-out;
  position: relative;
}
.innerContent {
  transition: height 0.2s linear, opacity 0.2s ease-in;
  overflow: hidden;
}

.inline {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
